.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px; /* 3 * 4px (где 4px — базовый отступ в Tailwind) */
    border: 1px solid black;
    border-radius: 8px;
    width: 160px; /* 40 * 4px */
    height: 320px; /* 80 * 4px */
}

.image {
    height: 50%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.title {
    font-size: 1.25rem; /* 20px */
    line-height: 1.75rem; /* 28px */
    font-weight: 600;
    text-align: center;
}

.link {
    padding: 4px 32px; /* py-1 px-8 */
    border-radius: 8px;
    background-color: #2563eb; /* bg-blue-600 */
    color: white;
    font-weight: 500;
    transition: background-color 0.2s;
}

.link:hover {
    background-color: #3b82f6; /* hover:bg-blue-500 */
}

.delete {
    cursor: pointer;
    padding: 4px 32px; /* py-1 px-8 */
    border-radius: 8px;
    background-color: black;
    color: white;
    font-weight: 500;
    transition: background-color 0.2s;
}

.delete:hover {
    background-color: #ef4444; /* hover:bg-red-500 */
}