@import "tailwindcss";
:root {
  --color-primary: #2563eb; /* насыщенный синий */
  --color-secondary: #3b82f6; /* акцентный голубой */
  --color-dark: #1e293b;
  --color-light: #f9fafb; /* фон */
  --color-white: #ffffff;
  --color-muted: #9ca3af;
  --color-glass: rgba(255, 255, 255, 0.7);
  --color-glass-border: rgba(255, 255, 255, 0.3);
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--color-light);
  color: var(--color-dark);
}

@media (max-width: 768px) {
  body {
    font-size: 15px;
  }
}

@layer components {
  .form-error {
    @apply text-red-500 text-sm pl-2 pt-1.5;
  }

  .form-label {
    @apply block text-base pl-2 pb-1 font-medium text-gray-700;
  }

  .form-input {
    @apply w-full p-2 border border-gray-300 rounded-md outline-none focus:ring-2 focus:ring-[var(--color-primary)];
  }

  .btn-primary {
    @apply bg-[var(--color-primary)] text-white font-medium rounded-lg px-4 py-2 hover:bg-[var(--color-secondary)] transition;
  }

  .btn-outline {
    @apply border border-[var(--color-primary)] text-[var(--color-primary)] rounded-lg px-4 py-2 hover:bg-[var(--color-primary)] hover:text-white transition;
  }

  .glass-card {
    @apply backdrop-blur-xl bg-[var(--color-glass)] border border-[var(--color-glass-border)] shadow-lg rounded-xl;
  }

  .glass-section {
    @apply backdrop-blur-md bg-[var(--color-glass)] border border-[var(--color-glass-border)] shadow-lg rounded-2xl p-6;
  }
}
